@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

:root {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text-color);
}

.color-icons {
  color: var(--icon-color);
}

.card-bg {
  background-color: var(--card);
}

.card-bg h1 {
  color: var(--card-title);
}

.card-bg p {
  color: var(--card-text);
}

.input-otp-slot:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1d4ed8;
  /* Color azul */
}

.divider {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 3px;
  background-color: red;
  margin: 5px;
}

.input-date-bg {
  background-color: #f4f4f5;
}

.input-date-label {
  color: #6a6a72;
}

.input-date-bg:hover {
  background-color: #e4e4e7;
}

.dark .input-date-bg {
  background-color: #27272a;
}

.dark .input-date-label {
  color: #aaaaaf;
}

.dark .input-date-bg:hover {
  background-color: #3f3f46;
}

.date-picker-popup {
  z-index: 1400 !important;
}
.ant-picker-dropdown {
  position: fixed !important;
}
.ant-picker-panel-container {
  overflow: visible !important;
}

.ant-picker-dropdown {
  @media (max-width: 768px) {
    inset: 395px auto auto 0px !important;
  }
}
.ant-picker-dropdown .ant-picker-panel-container {
  @media (max-width: 768px) {
    max-width: 100vw !important;
    overflow: auto !important;
    inset: 395px auto auto 0px !important;
  }
}

.ant-picker .ant-picker-input span.ant-picker-suffix {
  margin-left: 1px;
  margin-right: 10px;
  order: -1;
  color: #9ca3af;
}

.ant-picker {
  background-color: #f4f4f5;
  font-size: 2px;
}

.ant-picker .ant-picker-input input {
  font-size: 14px;
}

.ant-picker .ant-picker-input > input::placeholder {
  color: #808088;
}

.ant-picker {
  background-color: transparent;
}

.ant-picker:hover {
  background-color: transparent;
}

.ant-picker:active {
  background-color: transparent;
}

.ant-picker .ant-picker-input input:active {
  color: #2081f0;
}

.ant-form-item-label label {
  font-size: 12px;
}

/** Estilos generales para react-big-calendar */
.rbc-calendar {
  @apply bg-white text-black;
  /* Light mode */
}

/* Estilos para el modo oscuro */
.dark .rbc-calendar {
  @apply bg-[#121e2d] text-white;
}

/* Ajusta los colores de los eventos */
.dark .rbc-event {
  @apply bg-[#0186d6] text-white;
}

/* Estilos de slots para el modo claro */
.rbc-time-slot {
  @apply bg-white border-gray-200;
}

/* Estilos de slots en el modo oscuro */
.dark .rbc-time-slot {
  @apply bg-gray-800 border-gray-800;
}

/* Slots de día en modo claro */
.rbc-day-slot {
  @apply bg-white;
}

/* Slots de día en modo oscuro */
.dark .rbc-day-slot {
  @apply bg-gray-900;
}

.dark .rbc-day-bg {
  @apply bg-gray-900;
}

/* Estilos para días fuera del mes en modo oscuro */
.dark .rbc-off-range {
  @apply text-gray-500 bg-gray-800;
}

/* Estilo para el día actual en modo claro */
.rbc-today {
  @apply bg-blue-200;
}

/* Estilo para el día actual en modo oscuro */
.dark .rbc-today {
  @apply bg-[#1f2e88] text-white;
}

/* Estilo para los botones en modo claro */
.rbc-toolbar button {
  @apply bg-white text-black hover:bg-indigo-200;
}

/* Estilo para los botones en modo oscuro */
.dark .rbc-toolbar button {
  @apply bg-gray-700 text-white hover:bg-gray-800;
}

/* ESTILO PARA LOS INPUTS */
.input-custom {
  background-color: #ffff;
}
.dark .input-custom {
  background-color: #27272a;
}

/* ESTILO PARA LOS INPUTS DE AFUERA */
.input-custom-out {
  background-color: #f4f4f5;
}
.dark .input-custom-out {
  background-color: #f4f4f5;
}
